/* Dark grey: #4A4A4A */
/* Light grey: #D8D8D8 */

/* ===UNIVERSAL STYLES=== */

* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1250px;
    margin: 0 auto;
}

h1 {
    color: #4A4A4A;
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    color: #4A4A4A;
    font-size: 1.5rem;
}


h3 {
    color: #4A4A4A;
    font-size: 1.17rem;
}

html {
    font-size: 16px;
}

section {
    width: 100%;
}

.align-center {
    align-items: center;
}

.bold {
    font-weight: bold;
}

.box {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.flex {
    display: flex;
}

/* ===HEADER STYLES=== */
header {
    height: 64px;
    justify-content: space-between;
    padding: 0 24px;
}

nav a {
    color: #4A4A4A;
    text-decoration: none;
    margin-left: 16px;
}

nav a:hover {
    text-decoration: underline;
}

nav img {
    display: none;
}

.logo {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}

.logo img {
    position: relative;
    height: 3rem;
    margin-top: 5px;
}

.logo span:first-child {
    color: #4A4A4A;
    font-weight: 800;
}

.logo span:last-child {
    color: #A9A9A9;
    font-weight: 500;
}

/* ===MAIN STYLES=== */

/* ---Banner Section--- */

.main-img-container {
    width: 60%;
}

.main-img-container img {
    width: 94%;
    padding: 32px 24px;
}

.hgroup {
    width: 40%;
    flex-direction: column;
    justify-content: center;
    flex-basis: 423px;
    line-height: 1.2;
    margin-left: 16px;
}

.hgroup h1 {
    width: 80%;
    font-size: 2.3rem;
    padding-bottom: 32px;
}

.hgroup h2 {
    width: 83%;
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 32px;
}

.hgroup h3 {
    font-size: 1rem;
}

.banner {
    background-color: #D8D8D8;
}

.btn {
    color: white;
    width: 70%;
    background-color: #4A4A4A;
    text-align: center;
    padding: 12px;
}

.btn:hover {
    font-size: 1.5rem;
    padding: 14px;
    text-transform: uppercase;
}

/* ---Information Section--- */

/* left-column */

.information .l-column {
    width: 60%;
}

.information .l-column img {
    width: 94%;
    padding: 32px 24px;
}

.information .l-column .txt-container {
    margin: 0 24px;
    padding-right: 10px;
}

.information .l-column .txt-container h2 {
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.information .l-column .txt-container p {
    font-size: 0.95rem;
    color: #4A4A4A;
    line-height: 1.4;
    margin-bottom: 24px;
}

.information .l-column .txt-container cite {
    font-size: 0.8rem;
}

/* right column */

.information .r-column {
    width: 40%;
    border-left: 1px solid #D8D8D8;
    padding-top: 16px;
    padding-bottom: 64px;
}

.information .r-column .flex {
    align-items: center;
    border-bottom: 1px solid #D8D8D8;
}

.information .r-column .flex:last-child {
    background-color: #D8D8D8;
}

.information .r-column figure {
    width: 35%;
    height: auto;
    margin: 16px;
}

.information .r-column img {
    width: 100%;
}

.information .r-column .txt-container {
    width: 65%;
}

.information .r-column .txt-container a {
    font-size: 0.9rem;
    text-decoration: none;
}

.information .r-column .txt-container h3 {
    font-size: 1.2rem;
    color: #4A4A4A;
    font-weight: 700;
}

.information .r-column .txt-container p {
    color: #4A4A4A;
    font-size: 0.9rem;
    padding: 12px 0;
    line-height: 1.4;
}

/* ===COURSES SECTION STYLES=== */

.courses {
    background-color: #D8D8D8;
}

.courses h2 {
    font-size: 2rem;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 800;
}

.courses img {
    width: 100%;
}

.courses-container {
    flex-flow: wrap;
    justify-content: center;
    width: auto;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 32px;
    
}

.course-container {
    background-color: white;
    margin: 10px 16px;
    max-width: 300px;
    min-width: 250px;
}

.course-container:hover {
    box-shadow: 7px 7px 5px #888;
}

.course-container .txt-container {
    height: 160px;
    padding: 16px;
    line-height: 1.3;
}

.courses .txt-container p {
    color: #4A4A4A;
}

.courses .txt-container p:nth-child(2) {
    padding: 15px 0;
    text-transform: uppercase;
}

.courses .txt-container p:nth-child(3) {
    font-size: 0.9rem;
}

.courses .txt-container h3 {
    font-weight: 700;
}


/* ===THESIS SECTION STYLES=== */

.thesis {
    padding-bottom: 32px;
}

.thesis h2 {
    font-size: 2rem;
    font-weight: 800;
    padding: 32px 0;
    text-align: center;
}

/* left column */

.thesis .l-column {
    width: 60%;
}

.thesis .l-column .txt-container {
    width: 100%;
    margin: 0px 24px;
}

.thesis .l-column h3 {
    font-weight: 700;
    padding-bottom: 16px;
}

.thesis .l-column video {
    width: 100%;
    padding: 0 16px 24px 24px;
}

/* right column */

.thesis .r-column {
    width: 40%;
}

.thesis .r-column figure {
    width: 35%;
    height: auto;
    padding: 16px;
}

.thesis .r-column h3 {
    margin-bottom: 12px;
    font-weight: 700;
}

.thesis .r-column img {
    width: 100%;
}

.thesis .r-column .flex {
    align-items: center;
}

.thesis .r-column .flex:first-child {
    background-color: #D8D8D8
}

.thesis .r-column .txt-container {
    width: 65%;
}

.thesis .r-column p {
    padding-right: 10px;
    line-height: 1.4;
}

.thesis .txt-container p {
    font-size: 0.95rem;
    color: #4A4A4A;
}

/* ===FOOTER STYLES=== */

footer {
    width: 100%;
}

footer i {
    padding: 10px 10px 0px 10px;
    color: #4A4A4A;
    font-size: 1.5rem;
}

footer i:hover {
    color: black;
    font-size: 1.5rem;
}

footer .txt-container {
    color: #4A4A4A;
    font-size: 0.85rem;
    justify-content: space-between;
    border-top: 1px solid #A9A9A9;
    padding: 10px 24px;
    height: 20px;
}

footer .social {
    height: 50px;
    text-align: center;
}

footer span {
    margin-left: 15px;
    
}

/* ===RESPONSIVE DESIGN=== */

/* Tablet */

@media only screen and (max-width: 800px) {
    
    /* header */
    
    nav span {
        display: none;
    }
    
    nav img {
        display: inline-block;
        margin-left: 60px;
        margin-top: -5px;
        height: 2.3rem;
    }
    
    nav .middle {
        margin-right: -10px;
    }
    
    .logo span {
        display: none;
    }
    
    /* banner */
    
    .hgroup h1{
        font-size: 1.8rem;
        padding-bottom: 15px;;
    }
    
    .hgroup h2 {
        font-size: 1.2rem;
        padding-bottom: 15px;
    }
    
    .hgroup h3 {
        font-size: 1rem;
    }
    
    .btn {
        width: 60%;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    /* footer */
    
    footer div:first-child {
        margin-top: 20px;
    }
}



/* Mobile */

@media only screen and (max-width: 615px) {
    
    /* universal styles */
    
    main {
        width: 100%;
    }
    
    body {
        width: 100%;
    }
    
    /* header */
    
    .logo span {
        display: none;
    }
    
    .logo img {
        height: 2.1rem;
    }
    
    nav img {
        display: inline-block;
        margin: -10px 0 0 55px;
        height: 1.8rem;
    }
    
    nav img:first-child {
        margin-left: 0;
    }
    
    
    /* banner */ 
    
    .banner, .hgroup {
        display: block;
        width: 100%;
    }
    
    .banner figure {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    .banner img {
        min-height: 100px;
        width: 100%;
        padding: 0;
    }
    
    .banner .hgroup {
        width: 100%;
        margin: 0;
        padding: 16px
    }
    
    .btn {
        margin: 0;
        width: 100%;
        
    }
    
    /* information section */
    
    .information .l-column {
        display: none;
    }
    
    .information .r-column {
        width: 100%;
    }
    
    /* courses */
    
    .courses {
        background-color: white;
    }
    
    .courses h2 {
        font-size: 1.7rem;
    }
    .courses figure, .courses p {
        display: none;
    }
    
    .courses .txt-container {
        height: auto;
    }
    
    .course-container {
        background-color: #D8D8D8;
        width: 100%;
    }
    
    
    
    /* thesis section */
    
    .thesis h2 {
        font-size: 1.7rem;
    }
    
    .thesis .l-column {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .thesis .r-column {
        display: none;
    }
    
    .thesis .l-column video {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .thesis .l-column .txt-container {
        display: none;
    }
    
    /* footer section */
    
    .policy {
        display: none;
    }
    
    .social {
        margin-top: 40px;
    
    }
    
    footer {
        width: 100%;
        margin: 0;
    }
    
    footer div:first-child {
        width: 100%;
        padding: 0;
        
    }
    footer div p {
        text-align: center;
        margin-bottom: 15px;
    }
    
}
    
