/* Dark grey: #4A4A4A */
/* Light grey: #D8D8D8 */

/* ===UNIVERSAL STYLES=== */

* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #4A4A4A;
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    color: #4A4A4A;
    font-size: 1.5rem;
}


h3 {
    color: #4A4A4A;
    font-size: 1.17rem;
}

html {
    font-size: 16px;
}

section {
    width: 100%;
}

.align-center {
    align-items: center;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

/* ===HEADER STYLES=== */
header {
    height: 64px;
    justify-content: space-between;
    padding: 0 24px;
}

nav a {
    color: #4A4A4A;
    text-decoration: none;
    margin-left: 16px;
}

.logo {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}

.logo img {
    position: relative;
    height: 3rem;
    margin-top: 5px;
}

.logo span:first-child {
    color: #4A4A4A;
    font-weight: 800;
}

.logo span:last-child {
    color: #A9A9A9;
    font-weight: 500;
}

/* ===MAIN STYLES=== */

/* ---Banner Section--- */


.main-img-container img {
    width: 94%;
    padding: 32px 24px;
}

hgroup {
    width: 40%;
    flex-direction: column;
    justify-content: center;
    flex-basis: 423px;
    line-height: 1.2;
    margin-left: 16px;
}

hgroup h1 {
    width: 80%;
    font-size: 2.3rem;
    padding-bottom: 32px;
}

hgroup h2 {
    width: 83%;
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 32px;
}

hgroup h3 {
    font-size: 1rem;
}

.banner {
    background-color: #D8D8D8;
}

.btn {
    color: white;
    width: 72%;
    background-color: #4A4A4A;
    text-align: center;
    padding: 12px;
}

.main-img-container {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 60%;
}

/* ---Information Section--- */

/* left-column */

.information .l-column {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 60%;
}

.information .l-column img {
    width: 94%;
    padding: 32px 24px;
}

.information .l-column .txt-container {
    margin: 0 24px;
    padding-right: 10px;
}

.information .l-column .txt-container h2 {
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.information.l-column .txt-container p {
    font-size: 0.95rem;
    color: #4A4A4A;
    line-height: 1.4;
    margin-bottom: 24px;
}

.information .l-column .txt-container cite {
    font-size: 0.8rem;
}

/* right column */

.information .r-column {
    width: 40%;
    border-left: 1px solid #D8D8D8;
    padding-top: 16px;
    padding-bottom: 64px;
}

.information .r-column .flex {
    align-items: center;
    border-bottom: 1px solid #D8D8D8;
}

.information .r-column .flex:last-child {
    background-color: #D8D8D8;
}

.information .r-column figure {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 35%;
    height: auto;
    margin: 16px;
}

.information .r-column img {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}

.information .r-column .txt-container {
    width: 65%;
}

.information .r-column .txt-container a {
    font-size: 0.9rem;
    text-decoration: none;
}

.information .r-column .txt-container h3 {
    font-size: 1.2rem;
    color: #4A4A4A;
    font-weight: 700;
}

.information .r-column .txt-container p {
    color: #4A4A4A;
    font-size: 0.9rem;
    padding: 12px 0;
    line-height: 1.4;
}

/* ===THESIS SECTION STYLES=== */

.thesis h2 {
    font-size: 2rem;
    font-weight: 800;
    padding: 32px 0;
    text-align: center;
}

/* left column */

.thesis .l-column {
    width: 60%;
}

.thesis .l-column .txt-container {
    width: 100;
    margin: 0px 24px;
}

.thesis .l-column h3 {
    padding-bottom: 16px;
}

.thesis .l-column video {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 0 16px 24px 24px;
}

/* right column */

.thesis .r-column {
    width: 40%;
}

.thesis .r-column .flex {
    align-items: center;
}

.thesis .r-column .flex:first-child {
    background-color: #D8D8D8
}

.thesis .r-column img {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}

.thesis .r-column figure {
     -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 35%;
    height: auto;
}

/* ===FOOTER STYLES=== */

footer {
    color: #4A4A4A;
    font-size: 0.85rem;
    justify-content: space-between;
    border-top: 1px solid #A9A9A9;
    padding: 10px 24px;
    height: 70px;
}

footer span {
    margin-left: 10px;
    
}
