/* ===UNIVERSAL STYLES=== */

* {
    margin: 0;
    color: #4A4A4A;
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1250px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    color: #4A4A4A;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

html {
    font-size: 16px;
}

main {
    padding-top: 64px;
}

.align-center {
    align-items: center;
}

.bg-gray {
    background-color: #D8D8D8;
}

.bold {
    font-weight: bold;
}

.box {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.flex {
    display: flex;
}


/* ===HEADER STYLES=== */

header {
    height: 64px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 24px;
    position: fixed;
    width: 100%;
    z-index: 20;
}

header .flex {
    padding-top: 3px;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #4A4A4A;
    text-decoration: none;
    margin-left: 16px;
}

nav a:hover {
    text-decoration: underline;
}

nav img {
    display: none;
}

.logo {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}

.logo img {
    position: relative;
    height: 3rem;
    margin-top: 5px;
}

.logo span:first-child {
    color: #4A4A4A;
    font-weight: 800;
}

.logo span:last-child {
    color: #A9A9A9;
    font-weight: 500;
}

/* ===MAIN STYLES=== */

/* ---Banner Section--- */

.btn {
    color: white;
    width: 70%;
    background-color: #4A4A4A;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 5px 0 #6A6A6A;
}

.btn:hover {
    box-shadow: 0 2px 0 #6A6A6A;
    transform: translateY(3px);
}

.hgroup {
    width: 40%;
    flex-direction: column;
    justify-content: center;
    flex-basis: 423px;
    line-height: 1.2;
    margin-left: 16px;
}

.hgroup h1 {
    width: 80%;
    font-size: 2.3rem;
    padding-bottom: 32px;
}

.hgroup h2 {
    width: 83%;
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 32px;
}

.hgroup h3 {
    font-size: 1rem;
}

.main-img-container {
    width: 60%;
}

.main-img-container img {
    width: 94%;
    padding: 32px 24px;
}

/* ---Information Section--- */

/* left-column */

.information .l-column {
    width: 60%;
}

.information .l-column img {
    width: 94%;
    padding: 16px 24px 32px 24px;
}

.information .l-column .txt-container cite {
    font-size: 0.8rem;
    padding-bottom: 16px;
}

.information .l-column .txt-container {
    margin: 0 24px;
    padding-right: 10px;
}

.information .l-column .txt-container h2 {
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.information .l-column .txt-container p {
    font-size: 0.95rem;
    line-height: 1.4;
    margin-bottom: 24px;
}

/* right column */

.information .r-column {
    width: 40%;
    border-left: 1px solid #D8D8D8;
    padding: 16px 0 64px 0;
}

.information .r-column a {
    color: blue;
}

.information .r-column figure {
    width: 35%;
    height: auto;
    margin: 16px;
}

.information .r-column img {
    width: 100%;
}

.information .r-column img:last-child {
    display: none;
}

.information .r-column .flex {
    align-items: center;
}

.information .r-column .flex:hover {
    background-color: #D8D8D8;
    transition: background 600ms ease-in;
}

.information .r-column .txt-container {
    width: 65%;
}

.information .r-column .txt-container a {
    font-size: 0.9rem;
    text-decoration: none;
}

.information .r-column .txt-container h3 {
    font-size: 1.2rem;
    font-weight: 700;
}

.information .r-column .txt-container p {
    font-size: 0.9rem;
    padding: 12px 0;
    line-height: 1.4;
}

/* ===COURSES SECTION STYLES=== */

.courses h2 {
    font-size: 2rem;
    text-align: center;
    padding: 32px 0;
    font-weight: 800;
}

.courses img {
    width: 100%;
}

.courses .txt-container h3 {
    font-weight: 700;
}

.courses .txt-container i {
    padding-right: 8px;
}

.courses .txt-container p:nth-child(2) {
    padding: 15px 0;
    text-transform: uppercase;
}

.courses .txt-container p:nth-child(3) {
    font-size: 0.9rem;
}

.course-container {
    background-color: white;
    margin: 10px 16px;
    max-width: 300px;
    min-width: 250px;
}

.course-container:hover {
    box-shadow: 7px 7px 5px #888;
    transition: box-shadow 500ms linear;
    
}

.course-container .txt-container {
    height: 160px;
    padding: 16px;
    line-height: 1.3;
}

.courses-container {
    flex-flow: wrap;
    justify-content: center;
    width: auto;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 32px;
}

/* ===THESIS SECTION STYLES=== */

.thesis {
    padding-bottom: 32px;
}

.thesis h2 {
    font-size: 2rem;
    font-weight: 800;
    padding: 32px 0;
    text-align: center;
}

/* left column */

.thesis .l-column {
    width: 60%;
}

.thesis .l-column h3 {
    font-weight: 700;
    padding-bottom: 16px;
}

.thesis .l-column video {
    width: 100%;
    padding: 0 16px 24px 24px;
}

.thesis .l-column .txt-container {
    width: 100%;
    margin: 0px 24px;
}

/* right column */

.thesis .r-column {
    width: 40%;
}

.thesis .r-column figure {
    width: 35%;
    height: auto;
    padding: 16px;
}

.thesis .r-column h3 {
    margin-bottom: 12px;
    font-weight: 700;
}

.thesis .r-column img {
    width: 100%;
}

.thesis .r-column p {
    padding-right: 10px;
    line-height: 1.4;
}

.thesis .r-column .flex {
    align-items: center;
}

.thesis .r-column .flex:hover {
    background-color: #D8D8D8
}

.thesis .r-column .txt-container {
    width: 65%;
}

.thesis .r-column .txt-container p {
    font-size: 0.95rem;
}

/* ===FOOTER STYLES=== */

footer {
    width: 100%;
}

footer i {
    padding: 10px 10px 0px 10px;
    color: #4A4A4A;
    font-size: 1.5rem;
}

footer i:hover {
    color: black;
    font-size: 1.5rem;
}

footer span {
    margin-left: 15px;
}

footer .txt-container {
    font-size: 0.85rem;
    justify-content: space-between;
    border-top: 1px solid #A9A9A9;
    padding: 10px 24px;
    height: 20px;
}

footer .social {
    height: 50px;
    text-align: center;
}

/* ===RESPONSIVE DESIGN=== */

/* Tablet */

@media only screen and (max-width: 800px) {
    
    /* header */
    
    nav, 
    nav .mobile {
        width: 100%;
    }
    
    nav a, 
    .logo h5, 
    .logo img {
        display: none;
    }
    
    nav img {
        display: flex;
        margin-top: 5px;
        height: 2.3rem;
    }
    
    nav .mobile {
        justify-content: space-around;
        align-items: center;
    }
    
    /* banner */
    
    .btn {
        width: 60%;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .hgroup {
        padding-left: 10px;
    }
    
    .hgroup h1{
        font-size: 1.6rem;
        padding-bottom: 15px;;
    }
    
    .hgroup h2 {
        font-size: 1.0rem;
        padding-bottom: 15px;
    }
    
    .hgroup h3 {
        font-size: 1.0rem;
    }
    
    /* information section */
    
    .information .l-column, 
    .information .r-column img:first-child {
        display: none;
    }
    
    .information .r-column {
        width: 100%;
    }
    
    .information .r-column figure {
        width: 55%;
    }
    
    .information .r-column img:last-child {
        display: inline-block;
    }
    
    .information .r-column .flex:last-child {
        border-bottom: none;
    }
}

/* Mobile */

@media only screen and (max-width: 615px) {

    /* header */
    
    nav img {
        display: inline-block;
        margin-top: 10px;
        height: 2rem;
    }
    
    nav .mobile {
        width: 100%;
        justify-content: space-around;
    }

    /* banner */ 
    
    .banner, 
    .hgroup {
        display: block;
    }
    
    .banner,
    .banner figure, 
    .banner img, 
    .btn,
    .hgroup {
        width: 100%;
    }
    
    .banner figure,
    .btn,
    .hgroup {
        margin: 0;
    }
    
    .banner figure {
        padding: 0;
    }
    
    .banner img {
        min-height: 100px;
        padding: 0;
    }
    
    .hgroup {
        padding: 16px
    }
    
    /* information section */
    
    .information .l-column, 
    .information .r-column img:first-child {
        display: none;
    }
    
    .information .r-column,
    .information .r-column figure,
    .information .r-column .txt-container {
        width: 100%;
    }
    
    .information .r-column,
    .information .r-column .txt-container{
        padding: 16px;
    }
    
    .information .r-column img:last-child,
    .information .r-column .flex {
        display: block;
    }
    
    .information .r-column figure {
        margin: 0;
    }

    /* courses */
    
    .course-container {
        background-color: #D8D8D8;
        width: 100%;
        max-width: 550px;
    }
    
    .courses {
        background-color: white;
    }
    
    .courses figure, .courses p {
        display: none;
    }
    
    .courses h2 {
        font-size: 1.7rem;
        padding-top: 0;
    }
    
    .courses .txt-container {
        height: auto;
    }
    
    /* thesis section */
    
    .thesis h2 {
        font-size: 1.7rem;
        padding-top: 0;
    }

    .thesis .l-column {
        margin: 0;
        padding: 0;
    }
    
    .thesis .l-column, 
    .thesis .l-column video {
        width: 100%;
    }
    
    .thesis .l-column video {
        margin: 0;
        padding: 10px;
    }
    
    .thesis .l-column .txt-container,
    .thesis .r-column {
        display: none;
    }

    /* footer section */
    
    footer {
        margin: 0;
    }
    
    footer,
    footer div:first-child {
        width: 100%;
    }
    
    footer div:first-child {
        margin-top: 20px;
        padding: 0;
    }
    
    footer div p {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .policy {
        display: none;
    }
    
    .social {
        margin-top: 40px;
    
    }
    
}
    
